<div class="toast top-0 start-50 translate-middle-x position-relative" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <%= image_tag "notification-outline.png", class:"rounded me-2",style:"width: 1.5em;height: 1.5em;font-size: 20px;" %>
    <strong class="me-auto" style="font-size: 20px;">Alert</strong>
    <small class="text-muted">Just Now</small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <%=notice%>
  </div>
</div>

